<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/user-profile.css">
    <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
    <link rel="stylesheet" href="../public/css/opensans-font.css">
    <link rel="stylesheet" href="../public/css/admin-style.css">
    <link rel="stylesheet" href="../public/css/admin-gallery.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/lightbox2@2.11.2/dist/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
        <div class="page-content">
            <div class="form-v4-content">

                <div class="form-detail" id="myform">
                    <div class="top-btn">
                    <h2>My Profile</h2>
                    <div>
                    <button class="register" href="/admin-adduser">Edit Profile</button>
                    </div>
                    </div>
                    <div class="partition">
                <div class="left-flex">
                    <div class="lf-item-img lf-item">
                        <a href="../public/img/Iiit-una-logo.png" data-lightbox="image-gallery"><img src="../public/img/Iiit-una-logo.png" class="profile-img"></a>
                    </div>
                    <div class="lf-item-name lf-item">
                        <h3>Name</h3>
                    </div>
                    <div class="lf-item">
                        <p>2022, CSE</p>
                    </div>
                    <div class="lf-item">
                        <p>Detail</p>
                    </div>
                    <div class="lf-item">
                        <p>Detail</p>
                    </div>
                    <div class="lf-item-social">
                        <ul>
                            <li><a href=""><i class="fa fa-linkedin-square" style="font-size:30px;color: #0072b1;"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram" style="font-size:30px;"></i></a></li>
                            <li><a href=""><i class="fa fa-github" style="font-size:30px;color: black;"></i></a></li>
                        </ul>
                    </div>
                    <div class="lf-item-btn">
                    <button class="register" href="/admin-adduser">Change Password</button>
                    <button class="register" href="/admin-adduser">Logout</button>
                    </div>
                    </div>
                    <div class="flex-line"></div>
                        <div class="right-flex">
                    <div class="form-group">
                        <div class="details">
                            <h3>Name : Name</h3>
                            <h3>Roll No. : Name</h3>
                            <h3>Year of Graduation : Roll</h3>
                            <h3>Course : Batch</h3>
                            <h3>Branch : Batch</h3>
                            <h3>Father's Name : Batch</h3>
                            <h3>Profession : Batch</h3>
                            <h3>Date of Birth : Batch</h3>
                            <h3>Gender : Batch</h3>
                            <h3>Mobile : Batch</h3>
                            <h3>Current Company : Batch</h3>
                        </div>
                </div>
                </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lightbox2@2.11.2/dist/js/lightbox-plus-jquery.min.js"></script>
        <script src="js/admin-index.js"></script>
        <script>
            function myFunction() {
                alert("User added successfully");
            }
        </script>
</body>

</html>