.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    background-color: rgb(210, 202, 202);
    border-radius: 5px;
    width: 50%;
    max-width: fit-content;
    height: auto;
    margin-top: 3%;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.item a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.img{
    padding: 2%;
    width: 40% ;
}

.img img{
    width: 50%;
    height: auto;
    border-radius: 5px;
}

.content{
    width: 60%;
    display: flex;
    flex-direction: column;
    line-height: 0%;
}

.item:hover{
    cursor: pointer;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(32, 31, 31);
    transition: all 0.2s;
}